@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

@theme {
  --color-primary: #aa6d6b;
  --color-brandDark: #151616;
  --font-Poppins: "Poppins", sans-serif;
  --font-varela: "Varela", sans-serif;
}
@utility container {
  margin-inline: auto;

  padding-inline: 1rem;
  @media (width >= theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }
  @media (width >= theme(--breakpoint-lg)) {
    padding-inline: 4rem;
  }
  @media (width >= theme(--breakpoint-xl)) {
    padding-inline: 5rem;
  }
  @media (width >= theme(--breakpoint-2xl)) {
    padding-inline: 6rem;
  }
}
